{% extends 'phongkham/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_staff %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="md-4">Create medicine</legend>
            {{ prescription_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}