{% extends 'phongkham/base.html' %}
{% load static %}

{% block title %} - Staff{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div class="mt-2 mb-2">
    <h4 class="mb-3">Thông tin nhân viên</h4>
    <div class="card mb-3 shadow-sm">
        <div class="card-header">{{ staff.get_name }}</div>
        <div class="card-body">
            <p class="card-text">Email: {{ staff.user.email }}</p>
            <p class="card-text">Số điện thoại: {{ staff.phone_number }}</p>
            <p class="card-text">Vị trí: {{ staff.position }}</p>
            <p class="card-text">Ngày vào làm việc: {{ staff.date_joined }}</p>
        </div>
    </div>
</div>
{% comment %} <div class="mt-2 mb-2"> {% endcomment %}
{% comment %}     <h4 class="mb-3">Thông tin nhân viên</h4> {% endcomment %}
{% comment %}     {% if matching_medical_records %} {% endcomment %}
{% comment %}     {% for record in matching_medical_records %} {% endcomment %}
{% comment %}     <div class="card mb-3 shadow-sm"> {% endcomment %}
{% comment %}         <div class="card-header">{{ record.exam_date }}</div> {% endcomment %}
{% comment %}         <div class="card-body"> {% endcomment %}
{% comment %}             <p class="card-text">Bác sĩ: {{ record.doctor.get_name }}</p> {% endcomment %}
{% comment %}             <p class="card-text">Thông tin bệnh: {{ record.disease_info }}</p> {% endcomment %}
{% comment %}             <p class="card-text">Thông tin điều trị: {{ record.treatment_info }}</p> {% endcomment %}
{% comment %}             <p class="card-text">Viện phí: {{ record.fee }}đ</p> {% endcomment %}
{% comment %}         </div> {% endcomment %}
{% comment %}     </div> {% endcomment %}
{% comment %}     {% endfor %} {% endcomment %}
{% comment %}     {% endif %} {% endcomment %}
{% comment %} </div> {% endcomment %}
{% endif %}
{% endblock %}
